/*Global Setting*/

* {
    padding: 0;
    margin: 0;
    font-family: '微軟正黑體';
}

html {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    /*width:  1260px;*/
    height: auto;
    margin-bottom: 20px;
}

#page {
    margin-left: 210px;
    margin-right: 210px;
}

#logo {
    max-width: 105px;
    max-height: 105px;
    margin-left: 5%;
    float: left;
    width: 75px;
}

/*navigation bar*/

.bar {
    height: 90px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: black;
    z-index: 2;
}

.bar>a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}

.bar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    min-width: 160px;
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar:hover {
    filter: none;
}

/* shows navigation */

.navbar.detached {
    position: fixed;
    background-color: black;
    filter: none;
    transition: transform .75s, height 0.75s, background 0.75s;
}

.top-container.expanded .navbar {
    transform: translate(0, 0);
    transition: transform 0.75s, height 0.75s, background 0.75s;
}

/* when hidden it goes up */

.navbar.invisible {
    transform: translate(0, -100px);
    transition: transform 1s;
}

/*scrollbar type*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
}

/*top*/

.top-container {
    height: 1000px;
}

.top-containerPic {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background: url(../img/index/piano6.jpg) 0/ cover fixed;
    margin-bottom: 10px;
}

.center {
    position: relative;
    text-align: center;
    top: -60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*footer*/

.inline-block-center {
    text-align: center;
}

.inline-block-center .fbicon, .inline-block-center .youtubeicon {
    display: inline-block;
    text-align: left;
}

/*footer*/

.fbicon {
    align-items: center;
    width: 4%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.youtubeicon {
    align-items: center;
    width: 4%;
    margin-left: 30px;
}

/* Content*/

/*top*/

.club {
    color: white;
    font-size: 30px;
}

.ntut {
    color: white;
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
}

.since {
    color: white;
    font-family: 'Rock Salt', cursive;
}

/*sec*/

.second-container {
    width: auto;
    margin-top: 20px;
    height: 790px;
}

.second-container img {
    width: 100%;
}

.border-upper-left, .border-upper-right, .border-bottom-left, .border-bottom-right {
    float: left;
    width: 50%;
    height: 395px;
}

.border-upper-left, .border-bottom-left {}

.border-upper-left p {
    color: white;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-100%, -22%);
    font-size: 20px;
}

/*third*/

.third-container {
    margin-top: 20px;
    width: auto;
    height: 500px;
    background-color: #E0E0E0;
    border-radius: 6px;
}

.third-container .title {
    padding: 30px;
}

.third-container hr {
    margin: 0 30px;
}

.message-content {
    margin: 30px;
}

.first-message, .sec-message {
    margin: 30px;
}

/*forth*/

.forth-container {
    width: auto;
    height: 510px;
}

.video-container {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    width: 64.9%;
    height: 500px;
}

.video-container .upperPart {
    width: auto;
    height: 70px;
    background-color: #000033;
}

.video-container .bottomPart {
    width: auto;
    height: 400px;
    background-color: #E0E0E0;
}

.bottomPart {
    padding: 20px 20px 0 20px;
}

.calender-container {
    float: right;
    margin-top: 20px;
    width: 33.2%;
    height: 500px;
}

.calender-container .upperPart {
    width: auto;
    height: 70px;
    background-color: #000033;
}

.upperPart h2 {
    color: white;
    padding: 25px;
    line-height: 18px;
    font-size: 29px;
}

.calender-container .bottomPart {
    width: auto;
    height: 400px;
    background-color: #E0E0E0;
}

.calender-container .bottomPart iframe {
    width: auto;
    height: 350px;
}

footer h3 {
    text-align: center;
    font-size: 20px;
}