/*Global Setting*/

* {
    padding: 0;
    margin: 0;
    font-family: '微軟正黑體';
}

html {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    /*width:  1260px;*/
    height: 2950px;
}

#page {
    margin-left: 210px;
    margin-right: 210px;
}

#logo {
    max-width: 105px;
    max-height: 105px;
    margin-left: 5%;
    float: left;
    width: 75px;
}

/*navigation bar*/

.bar {
    height: 90px;
    margin: 0;
    padding: 0;
    margin-left: 35%;
}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: black;
    filter: opacity(0.5);
}

.bar>a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}

.bar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    min-width: 160px;
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar:hover {
    filter: none;
}

.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    font-size: 30px;
}

/* shows navigation */

.navbar.detached {
    position: fixed;
    background-color: black;
    filter: none;
    transition: transform .75s, height 0.75s, background 0.75s;
}

.top-container.expanded .navbar {
    transform: translate(0, 0);
    transition: transform 0.75s, height 0.75s, background 0.75s;
}

/* when hidden it goes up */

.navbar.invisible {
    transform: translate(0, -100px);
    transition: transform 1s;
}

/*scrollbar type*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
}

.top-container {
    height: 800px;
}

.top-containerPic {
    width: 100%;
    height: 800px;
    filter: drop-shadow(8px 8px 10px gray) background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/

.fbicon {
    align-items: center;
    width: 6%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.youtubeicon {
    align-items: center;
    width: 8%;
    margin-left: 30px;
}

/* Content*/

/*sec*/

.second-container {
    width: auto;
    height: 1850px;
}

.profile1, .profile3, .profile5 {
    width: 49%;
    height: 436px;
    margin: 10px auto;
    float: left;
    border: 2px solid rgb(88, 150, 224);
    border-radius: 5px;
}

.profile2, .profile4, .profile6 {
    float: right;
    width: 49%;
    height: 436px;
    margin: 10px 0;
    border: 2px solid rgb(88, 150, 224);
    border-radius: 5px;
}

.second-container img {
    float: left;
    padding: 20px 10px;
    vertical-align: middle;
}

.second-container h1 {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(0%, 7%)
}

.profile7 {
    border: 2px solid rgb(88, 150, 224);
    width: 100%;
    height: 436px;
    margin: 10px 0;
    border-radius: 5px;
}