/*Global Setting*/

* {
    padding: 0;
    margin: 0;
    font-family: '微軟正黑體';
}

html {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    /*width:  1260px;*/
    height: auto;
    margin-bottom: 20px;
}

#page {
    margin-left: 210px;
    margin-right: 210px;
}

#logo {
    max-width: 105px;
    max-height: 105px;
    margin-left: 5%;
    float: left;
    width: 75px;
}

/*navigation bar*/

.bar {
    height: 90px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: black;
    filter: opacity(0.5);
    z-index: 2;
}

.bar>a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}

.bar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    min-width: 160px;
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar:hover {
    filter: none;
}

/* shows navigation */

.navbar.detached {
    position: fixed;
    background-color: black;
    filter: none;
    transition: transform .75s, height 0.75s, background 0.75s;
}

.top-container.expanded .navbar {
    transform: translate(0, 0);
    transition: transform 0.75s, height 0.75s, background 0.75s;
}

/* when hidden it goes up */

.navbar.invisible {
    transform: translate(0, -100px);
    transition: transform 1s;
}

/*scrollbar type*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
}

/*top*/

.top-container {
    height: 1000px;
}

.top-containerPic {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background: url(../img/105-1/taipeitech.jpg) 0/ cover fixed;
    margin-bottom: 10px;
}

.top-containerPic2 {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background: url(../img/105-2/piano.jpeg) 0/ cover fixed;
    margin-bottom: 10px;
}

.top-containerPic3 {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background: url(../img/106-1/grass.jpeg) 0/ cover fixed;
    margin-bottom: 10px;
}

.top-containerPic4 {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background: url(../img/106-2/graduate.jpeg) 0/ cover fixed;
    margin-bottom: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 20px 0;
    background: hsla(120, 0%, 120%, 0.6);
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 5px 3px 30px;
    overflow: hidden;
    top: -70%;
}

.center::before {
    text-align: center;
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(40px);
    z-index: -1;
}

/*fooer*/

.inline-block-center {
    text-align: center;
}

.inline-block-center .fbicon, .inline-block-center .youtubeicon {
    display: inline-block;
    text-align: left;
}

.fbicon {
    width: 6%;
}

.youtubeicon {
    margin-left: 1%;
    width: 8%;
}

/*fooer*/

.fbicon {
    align-items: center;
    width: 6%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.youtubeicon {
    align-items: center;
    width: 8%;
    margin-left: 30px;
}

footer {
    margin-top: 40px;
}

/* Content*/

.video-container, .picture-container {
    margin-top: 20px;
    width: auto;
}

/* ---- grid ---- */

.masonry {
    /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.item img {
    max-width: 100%;
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}